@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

/* all pages */
html {
    font-family: 'Lato', sans-serif;
}
/* end all pages */

.navbar {
    background-color: rgba(0,0,0,.8)!important;
}

/* login page */
#login {
    background-image: url('/img/stock-chart.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#login .jumbotron {
    background-color: rgba(0, 0, 0, .6);
    color: white;
    text-shadow: 2px 2px 3px black;
    font-size: 3em;
    font-weight: 700;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 0;
    }

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  .form-signin .checkbox {
    font-weight: 400;
    font-size: small;
  }
  .form-signin .form-control {
    position: relative;
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin #inputPassword {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .register-link {
      font-size: medium;
      padding: 1rem;
  }
/* end index page */

/* market news */
.card {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  width: 80%;
  margin-top: 1em;
}

.card .img-fluid {
  min-height: 250px;
}

.card .text-muted {
  padding-left: 1em;
}
/* end market news */

/* registration page */
#register {
    background-color: rgba(194, 197, 194, 0.719);
}

#register-form {
    padding: 2em;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th {
    padding-right: 3em;
  }
/* end registration page */

#index .foot {
    position: absolute;
}

.foot {
    color: white;
    bottom: 5%;
    text-align: center;
    width: 100%;
    height: 3%;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
}

.img-thumbnail {
  width: 180px;
  height: 180px;
}