@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

html {
    font-family: 'Lato', sans-serif;
}

.navbar {
    background-color: rgba(0,0,0,.8)!important;
}

  .register-link {
      font-size: medium;
      padding: 1rem;
  }

.card {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  width: 80%;
  margin-top: 1em;
}

.card .img-fluid {
  min-height: 250px;
}

.card .text-muted {
  padding-left: 1em;
}

.img-thumbnail {
  width: 180px;
  height: 180px;
}