.App {
 background-color: #37465b;
 text-align: center;
}
#root{
  background-color: #37465b;
}

a{
  color: white;
}
div{
  color: white;
  padding-bottom: 15px;
}
/* button{
  width: 250px;
  height: 50px;
  border-radius: 20px;
  border: none;
  background-color:#36b66c ;
  color: white;
} */

input{
  color: white;
  width: 250px;
  height: 50px;
  border: none;
  background-color: #576a85;
  border-radius: 15px;
  font-size: calc(5px + 1vmin);
}



.App-header {
  /* background-color: #282c34;  */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 1vmin);
  color: white;
  background-color: #37465b;
}

img{
  width:350px ;
}

#topB{
  background-color: #2196f3;
  height: 40px;
  width: 150px;
  
}
#topD{
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  overflow-x: hidden;
 
}


hr{
  border: 2px solid red;
  width: 400px;
  margin-bottom: 50px;
}

#vl{
  margin-top: 100px;
  border: 2px solid red;
  width: .5px;
  height: 500px;
}
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  
  
}

#hr2{
  width: 100px;

}

.right{
  right:0;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}




.header{
  float: left;
  top: 0;
  background-color: #576a85;
  height: 5%;
  width: 600%;
  position: fixed;
  z-index: 1;
  border-radius: 5px;
 
}






