.Dashboard-Button{
  width: 100%;
  height: 100px;
  font-size: medium;
  border: none;
  background-color: transparent;
  color: white;
}
 .Dashboard-Header{
    position: absolute;
    z-index: 1;
    left: 0;
    width: 100%;
    top:  0;
    border-radius: 15px;
    height: 4%;
 }
.topBarComp{
  background-color: transparent;
  position: absolute;
  overflow: hidden;
  height: 50px;
  width: 50px;

}

.popover .show-menu{display: block}

.popover .popover-content{
  position: absolute;
  z-index: 1;
  top: 50px;
  right: 0;
  display: none;
  overflow: visible;
  width: 200px;
  margin: 0;
  padding: 8px;
  border: 1px solid #e3e9ed;
  border-radius: 3px;
  box-shadow: 0 0 60px rgba(14,42,71,.25);
  
}

 .menuContainer{
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12);
    left: 0;
    width: 10rem;
    top: 3.90rem;
    position: fixed;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    z-index: 1;
    order: 0;
    transform: translate3d(0, 0, 0);
    display: flex;
    height: calc(100vh - 3.90rem);
    border-top: none;
    padding-right: 10px;
  
  }

  .infoContainer{
    left: 0;
    background: #27293d;
    width: 15%;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    border-radius: 5px;
  }


  .splitDash{
    padding-left: 10%;
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 10%;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .leftDash{
    left: 10%;
  }
  
  .rightDash{
    right:0;
  }

  .recharts-surface{
  background: none;
  border-radius:8px;
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12);
  width: 80%;

  }
  #root{
    font-family: "Poppins";
  }


  
  .menu-item {
    
  border-bottom: 1px solid darkgray;
  text-align: left;
  background-color: transparent;
  color: white;

  padding: 0;
  }

  li{
    text-align: left;
    padding: 0;
    color: #fff;
    font-size: .9375rem;
    font-weight: 500;
    line-height: 3.25rem;

  }

 

  ul{
    padding: 0;
    list-style-type: none;
    text-align: left;
  }
  a {
    color: #FFF;
  }
  a:hover {
     color: darkgray;
     font-weight: 1000;
  }

  .mainContent{
    margin-left: 100px;
    justify-content: center;
    position: relative;
    
  }

  .dataContainer{  
    background: none;
  width:30% ;
  overflow: hidden;
  border-radius:8px;
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12);
  color: white;
  
  }
  


  .parent {
    display: flex;
    flex-direction:row;
    -ms-flex-align: center;
    
  }
  
  .column {
    flex: 1 1 auto;
    
  }

  
  

  

  



